<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330483612517-uf9uv22u5gupcplf6hlla4s20punsv5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330483612517-uf9uv22u5gupcplf6hlla4s20punsv5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCqm3PDYvEW1srCboWCPkLDn8Bz4BI6j0c</string>
	<key>GCM_SENDER_ID</key>
	<string>330483612517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lemonhc.lyine.HealthApp</string>
	<key>PROJECT_ID</key>
	<string>healthapp-46f96</string>
	<key>STORAGE_BUCKET</key>
	<string>healthapp-46f96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330483612517:ios:cb5cc41c2bfe2e0f</string>
	<key>DATABASE_URL</key>
	<string>https://healthapp-46f96.firebaseio.com</string>
</dict>
</plist>